<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<!-- 本体設定 -->
        <!-- パネル初期表示 -->
		<add key="Display"  value="5" />
        <!-- パネル最大表示 -->
        <add key="MaxDisplay"  value="10" />
		
		<!-- ディレクトリの設定値 -->
        <add key="Base"  value="" />
		
        <add key="Number1"  value="1" />
        <add key="Number2"  value="2" />
        <add key="Number3"  value="3" />
        <add key="Number4"  value="4" />
        <add key="Number5"  value="5" />
        <add key="Number6"  value="6" />
        <add key="Number7"  value="7" />
        <add key="Number8"  value="8" />
        <add key="Number9"  value="9" />
        <add key="Number10" value="10" />
        <add key="Value1"  value="" />
        <add key="Value2"  value="" />
        <add key="Value3"  value="" />
        <add key="Value4"  value="" />
        <add key="Value5"  value="" />
        <add key="Value6"  value="" />
        <add key="Value7"  value="" />
        <add key="Value8"  value="" />
        <add key="Value9"  value="" />
        <add key="Value10"  value="" />
    </appSettings>
</configuration>